@charset "UTF-8";

/*---------------------------------
access styleSheet
----------------------------------*/
#main {
    padding-top: 80px;
    margin: 0 10px 50px;
    text-align: center;
    letter-spacing: 2px;
}

.contentTitle {
    margin-bottom: 20px;
}

#accessMap {
    max-width: 100%;
    margin: 0 10px;
    padding: 4px;
    background-origin: 1px solid #ccc;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#accessMap iframe {
    width: 100%;
    height: 300px;
}

.mapLink {
    margin-bottom: 4em;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 5px 23px;
    border: 1px #e6e6e6 solid;
    border-radius: 5px;
    background: #e5e5e5;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
    background: linear-gradient(to bottom, #ffffff, #e5e5e5);
    color: #333;
    text-decoration: none;
}

.btnGreen {
    background: #83a603;
    background: -webkit-gradient(linear, left top, left bottom, from(#83a603), to(#769300));
    background: linear-gradient(to bottom, #83a603, #769300);
    color: #fff;
}

@media only screen and (min-width:670px) {
    #main {
        max-width: 767px;
        margin: 0 auto;
    }


    #accessMap iframe {
        height: 500px;
    }
}