@charset "UTF-8";

/*初期設定
----------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #000;
    background-color: #fff;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
    letter-spacing: 2px;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol,
li {
    list-style: none;
}

/*clearfix*/
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    //   display: inline-block;
    color: #4f4a45;
    text-decoration: none;
}

a:hover {
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter: "alpha(opacity=75)";
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    zoom: 1;
}

img,
video {
    max-width: 100%;
    height: auto;
}

#wrapper {
    position: relative;
    padding-bottom: 66px;
    min-height: 100vh;

    header {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 50px;

        .logo {
            top: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 100;
            border: 1px solid #000;
            border-radius: 5px;


            h1 {
                left: 7px;
                position: absolute;
                top: -6px;
            }
        }
    }

    nav {
        #globalNav {
            text-align: center;
            height: 100vh;
            background: rgba(30, 30, 30, 0.9);
            padding-top: 100px;

            .nav__list {
                padding: 20px;
                display: block;
                font-size: 16px;
                font-weight: bold;
                color: #fff;
            }

            span {
                color: #000;
                padding: 20px;
                display: block;
            }

            .menu_sns {
                padding-top: 20px;

                a {
                    margin: 10px;

                    img:nth-last-child {
                        color: #4f4a45;
                    }

                    img {
                        width: 20px;
                        filter: brightness(300%);
                    }


                }
            }
        }
    }

    // 3本ライン
    .menu_btn {
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 100;
        border-radius: 5px;

        .menu_line {
            display: inline-block;
            position: absolute;
            width: 25px;
            height: 20px;
            top: 53%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        span {
            position: absolute;
            background: #000;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 3px;
            transition: all .2s;
        }

        span:nth-of-type(1) {
            top: 0;
        }

        span:nth-of-type(2) {
            top: 7px;
        }

        span:nth-of-type(3) {
            top: 14px;
        }
    }

    #top {
        width: 100%;
        height: 700px;
        position: relative;

        h1 {
            width: 100%;
            position: absolute;
            top: 40%;
            text-align: center;
        }
    }

    footer {
        width: 100%;
        text-align: center;
        border-top: 1px solid #000;
        padding: 20px;
        position: absolute;
        bottom: 0;
    }
}



@media only screen and (min-width:670px) {
    #wrapper {
        // max-width: 1170px;
        // margin: 0 auto;

        #navControl {
            display: none;
        }

        nav {
            display: flex;
            justify-content: flex-end;

            #globalNav {
                display: block !important;
                padding: 0;
                height: auto;
                margin: 20px 10px 0 0;
                background: #fff;

                li {
                    float: left;
                    margin-left: 30px;

                    .nav__list {
                        padding: 0;
                        color: #000;

                    }

                    span {
                        color: #dddddd;
                        padding: 0;
                    }

                }

                .menu_sns {
                    padding: 0;

                    a {
                        img {
                            width: 20px;
                            filter: none;
                        }
                    }
                }
            }
        }
        #top {
        }
    }
    
}